<%= stylesheet_link_tag "conteudo" %>

<img src="/images/<%= anunciante_loja? ? "titulo_anunciante_lojista.gif" : "titulo_anunciante_particular.gif" %>" />

<%=render :partial => "shared/menu_auxiliar" %>


<% form_for @anunciante, :url => {:action => (@anunciante_logado ? :atualizar : :criar), :id => nil}, :html => {:id => "formulario", :name => "formulario", :multipart => true} do |f| -%>

  <table class="formulario" width="100%">
    <!--[form:anunciante]-->
    <tr>
      <td colspan="4" class="texto_verde_pequeno">Informações Gerais</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr height="30">
      <td width="10%" class="texto_cinza label">
        <%=f.label(:nome, label_nome) %>
      </td>
      <td width="15%">
        <%=f.text_field :nome %>
        <%= error_message_on :anunciante, :nome %>
      </td>
    
      <td width="20%" class="texto_cinza label">
        <%=f.label(:cpf) %>
      </td>
      <td>
        <% unless @anunciante_logado %>
          <%=f.text_field :cpf %>
          <%= error_message_on :anunciante, :cpf %>
        <% else %>
          <%=@anunciante.cpf %>
        <% end %>
      </td>
    
    
    </tr>
    <tr height="30">
      <td class="texto_cinza label">
        <%=f.label(:email) %>
      </td>
      <td>
        <% unless @anunciante_logado %>
          <%=f.text_field :email %>
          <%= error_message_on :anunciante, :email %>
        <% else %>
          <%=@anunciante.email %>
        <% end %>
      </td>
      <td class="texto_cinza label">
        <%=f.label(:email_secundario) %>
      </td>
      <td>
        <%=f.text_field :email_secundario %>
        <%= error_message_on :anunciante, :email_secundario %>
      </td>
    </tr>
    <tr height="30">
      <td class="texto_cinza label">
        <%=f.label(:senha) %>
      </td>
      <td>
        <%=f.password_field :senha, :value => "" %>
        <%= error_message_on :anunciante, :senha %>
      </td>
      <td class="texto_cinza label">
        <%=f.label(:senha_confirmation,"Confirme a senha") %>
      </td>
      <td>
        <%=f.password_field :senha_confirmation, :value => "" %>
      </td>
    </tr>
    <tr height="30">
      <td class="texto_cinza label">
        <%=f.label(:endereco,"Endereço") %>
      </td>
      <td>
        <%=f.text_field :endereco %>
        <%= error_message_on :anunciante, :endereco %>
      </td>
      <td class="texto_cinza label">
        <label for="pais_id">
          País
        </label>
      </td>
      <td>
        <%=select_tag :pais_id, paises, :onchange => remote_function(:url => {:action => :buscar_estados},:with => "'pais_id='+this.value") %>
      </td>
    </tr>
    <tr height="30">
      <td class="texto_cinza label">
        <label for="estado_id">
          Estado
        </label>
      </td>
      <td>
        <div id="div_select_estado">
          <%= render :partial => "select_estado" %>
        </div>
      </td>
      <td class="texto_cinza label">
        <%=f.label(:cidade_id) %>
      </td>
      <td>
        <div id="div_select_cidade">
          <%= render :partial => "select_cidade" %>
        </div>
      </td>
    </tr>
    <tr height="30">
      <td class="texto_cinza label">
        <%=f.label(:telefone) %>
      </td>
      <td>
        <%=f.text_field :telefone %>
        <%= error_message_on :anunciante, :telefone %>
      </td>
      <td class="texto_cinza label">
        <%=f.label(:celular) %>
      </td>
      <td>
        <%=f.text_field :celular %>
        <%= error_message_on :anunciante, :celular %>
      </td>
    </tr>
    <% if anunciante_loja? %>
      <tr>
        <td colspan="4" class="texto_verde_pequeno"><br>Informações Empresariais<br></td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>      
      <tr height="30">
        <td class="texto_cinza label">
          <%=label :loja, :cnpj %>
        </td>
        <td>
          <% unless @anunciante_logado %>
            <%=text_field :loja, :cnpj %>
            <%= error_message_on :loja, :cnpj %>
          <% else %>
            <%=@loja.cnpj %>
          <% end %>
        </td>
        <td class="texto_cinza label">
          <%=label :loja, :razao_social %>
        </td>
        <td>
          <%=text_field :loja, :razao_social %>
          <%= error_message_on :loja, :razao_social %>
        </td>
      </tr>
      <tr height="30">
        <td class="texto_cinza label">
          <%=label :loja, :site %>
        </td>
        <td>
          <%=text_field :loja, :site %>
          <%= error_message_on :loja, :site %>
        </td>
        <td class="texto_cinza label">
          <%=label :loja, :mapa %>
        </td>
        <td>
          <%=text_field :loja, :mapa %>
          <%= error_message_on :loja, :mapa %>
        </td>
      </tr>
      <tr height="30">
        <td class="texto_cinza label">
          <%=label :loja, :telefone_responsavel %>
        </td>
        <td>
          <%=text_field :loja, :telefone_responsavel %>
          <%= error_message_on :loja, :telefone_responsavel %>
        </td>
        <td class="texto_cinza label">
          <%=label :loja, :celular_responsavel %>
        </td>
        <td>
          <%=text_field :loja, :celular_responsavel %>
          <%= error_message_on :loja, :celular_responsavel %>
        </td>
      </tr>
      <!--tr>
        <td colspan="4" class="texto_verde_pequeno"><br>Serviços Prestados<br></td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>  
      <tr height="30">
        <td colspan="4">
          <table>
            <% tipo_lojas.in_groups_of(4,false).each do |tipo_lojas_agrupados| %>
              <tr>
                <% tipo_lojas_agrupados.each do |tipo_loja| %>
                  <td width="25%" align="left" valign='top' class="texto_cinza"><%=check_box_tag "loja[tipo_loja_ids][]",tipo_loja.id, (@loja.tipo_lojas.include?(tipo_loja) rescue false), :class => "input" %><%=tipo_loja.descricao %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </td>
      </tr-->
      <tr>
        <td colspan="4" class="texto_cinza_titulo">
          <br>Fotos<br>
        </td>
      </tr>
      <% 0.upto(1) do %>
        <tr>
          <% 0.upto(1) do %>
            <td colspan="2" align="center">
              <span><%=file_field_tag "imagens[]", :class => "campo_arquivo" %></span>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <!--[eoform:anunciante]-->
  </table>
  <%=content_tag :p, image_submit_tag("btn_cadastrar.jpg"), :align => "center"%>
<% end %>