<%if @cores.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descri&ccedil;&atilde;o
            </th>
            <th width="50">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @cores.each do |cor| %>
        <tr>
            <td align="center">
                <%=cor.id %>
            </td>
            <td>
                <%=cor.descricao %>
            </td>
            <td align="center" nowrap="nowrap">
                <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => cor %>
                <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => cor}, :with => "Form.serialize('form_pesquisa')" %>
            </td>
        </tr>
        <% end %>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="6" align="center">
				<%= paginacao_ajax @cores, {:with => "Form.serialize('form_pesquisa')"} %>
			</td>
		</tr>
	</tfoot>
</table>
<% end %>