<table class="formulario" width="100%">
  <!--[form:cor]-->
  <tr>
    <td width="15%" class="texto_cinza label">
      <%=f.label(:nome, "Nome")%>
    </td>
    <td><%=f.text_field :nome  %>
      <%= error_message_on :contato, :nome %>
    </td>
    <td width="15%" class="texto_cinza label">
      <%=f.label(:email, "Email")%>
    </td>
    <td><%=f.text_field :email  %>
      <%= error_message_on :contato, :nome %>
    </td>
  </tr>
  <tr>
    <td width="15%" class="texto_cinza label">
      <%=f.label(:telefone, "Telefone")%>
    </td>
    <td><%=f.text_field :telefone  %>
      <%= error_message_on :contato, :telefone %>
    </td>
    <td class="texto_cinza label">
      <%=f.label(:celular, "Celular")%>
    </td>
    <td><%=f.text_field :celular  %>
      <%= error_message_on :contato, :celular %>
    </td>
  </tr>

  <tr>
    <td class="texto_cinza label">
      <%=f.label(:estado, "Pais")%>
    </td>
    <td><%=select :contato, :pais_id, paises,{},{:onchange => remote_function(:url => {:action => :buscar_estados}, :with => "'contato[pais_id]='+this.value")} %></td>
    <td class="texto_cinza label">
      <%=f.label(:estado, "Estado")%>
    </td>
    <td><span id="div_estados"><%=render :partial => "select_estados"%></span></td>
  </tr>
  <tr>
    <td class="texto_cinza label">
      <%=f.label(:cidade, "Cidade")%>
    </td>
    <td><span id="div_cidades"><%=render :partial => "select_cidades"%></span></td>
  </tr>
  <tr>
    <td class="texto_cinza label">
      <%=f.label(:mensagem, "Mensagem")%>
    </td>
    
    <td colspan="3"><%=  f.text_area :mensagem, :size => "70x5"  %>
      <%= error_message_on :contato, :mensagem %>
    </td>
  </tr>
  
  <!--[eoform:cor]-->
  
</table>
<p style="text-align: center">
  <%= image_submit_tag "btn_enviar_contato.gif" %>
  <%= image_tag "btn_limpar.jpg" %>
</p>
