<%= stylesheet_link_tag "conteudo" %>

<img src="/images/tit_contato.jpg" />

<%=render :partial => "shared/menu_auxiliar" %>
<% form_for @contato, :url => {:action => :enviar, :id => @contato}, :html => {:id => "create", :name => "create"} do |f| -%>
  <%=render :partial => "form", :locals => {:f => f} %>
<% end %>
