<div id="tabs">
  <ul>
    <li id="secao01" class="active">Anúncios</li>
  </ul>
</div>

<div id="conteudo">

<%=flash_message%>

<div id="form_pesquisa">
<% form_remote_tag(:url => {:action => "pendentes"}, :html => {:id => "form_pesquisa",:name => "form_pesquisa"}) do %>
<%=render :partial => "form_pesquisa" %>
<% end %>
</div>

<div id="resultado_pesquisa">

<%=render :partial => "resultado_pesquisa_pendente" if defined?(@anunciantes)%>

</div>
</div>