<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to "Anuncios", :action => :index %></li>
    <li id="secao02" class="active">Visualização de Anúncio</li>
  </ul>
</div>
<script>
    function exibir_imagem(url){
        $('quadro_imagens').src = url;
    }
</script>

<div id="conteudo">
  <%=render :partial => "form" %>
</div>