<% if existem_anuncios_a_expirar? %>
	<% @anuncios_a_expirar.each do |anuncio| %>
	<strong><%=link_anuncios(anuncio.extensao.nome,anuncio) %></strong>. Anunciado por: <strong><%=link_anunciantes(anuncio.anunciante.nome,anuncio.anunciante)%></strong>, 
	expira em <strong title="<%=anuncio.expira_em.to_s(:br_s)%>"><%=distance_of_time_in_words(Time.now,anuncio.expira_em)%></strong>
	<%=content_tag(:hr) unless @anuncios_a_expirar.last == anuncio %>
	<% end %>
<% else %>
	Não existem anúncios a expirar
<% end %>