<% if existem_anuncios_mais_vistos? %>
	<% @anuncios_mais_vistos.each do |anuncio| %>
	<strong><%=link_anuncios(anuncio.extensao.nome,anuncio) %></strong>. Anunciado por: <strong><%=link_anunciantes(anuncio.anunciante.nome,anuncio.anunciante)%></strong>,
	| Visitas: <strong><%=link_anuncios(anuncio.visitas,anuncio) %></strong>
	<%=content_tag(:hr) unless @anuncios_mais_vistos.last == anuncio %>
	<% end %>
<% else %>
	Não existem anúncios
<% end %>