<% if existem_anuncios_expirados? %>
	<% @anuncios_expirados.each do |anuncio| %>
	<%=titulo_anuncio(anuncio)%> 
	expirado a <strong><%=distance_of_time_in_words(anuncio.expira_em,Time.now)%></strong>
	<%=content_tag(:hr) unless @anuncios_expirados.last == anuncio %>
	<% end %>
<% else %>
	Não existem anúncios expirados
<% end %>