<table class="create" width="100%">
<!--[form:pedido]-->
<tr>
  <td width="175">
  	<%=f.label(:interessado)%>
  </td>
  <td><%=descricao_interessado(@pedido)%>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:created_at, "Data de Envio")%>
  </td>
  <td><%=@pedido.created_at.to_s(:br) %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:tipo_veiculo, "Tipo de Veículos")%>
  </td>
  <td><%=@pedido.tipo_veiculo.descricao %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:marca)%>
  </td>
  <td><%=@pedido.marca.descricao rescue "" %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:modelo)%>
  </td>
  <td><%=@pedido.modelo.descricao rescue "" %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:cor)%>
  </td>
  <td><%=@pedido.cor.descricao rescue "" %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:ano)%>
  </td>
  <td><%=@pedido.ano %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:valor)%>
  </td>
  <td><%=@pedido.valor.real_contabil rescue "" %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:combustivel)%>
  </td>
  <td><%=AnuncioVeiculo::COMBUSTIVEIS[@pedido.combustivel] %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:kilometragem)%>
  </td>
  <td><%=@pedido.kilometragem %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:descricao, "Descrição")%>
  </td>
  <td><%=@pedido.descricao %>
  </td>
</tr>

<tr>
  <td>
  	<%=f.label(:analisado, "Analisado?")%>
  </td>
  <td><%=f.select :analisado, opcoes_analise %>
  </td>
</tr>
<!--[eoform:pedido]-->

<tr class="action">
  <td align="center" colspan="2">
    <%= montar_botoes_salvar({:salvar => true,:salvar_listar => true,:cancelar => true}) %>
  </td>
</tr>
</table>