<% form_remote_tag(:url => {:action => "pesquisar"}, :html => {:id => "form_pesquisa",:name => "form_pesquisa"}) do %>
<table width="100%" class="pesquisa" cellspacing="0">
    <tr>
        <td width="175">
            <%=label :pedido,:analisado, "Analisado?"%>
        </td>
        <td>
            <%=select :pedido, :analisado, opcoes_analise_busca %>
        </td>
    </tr>
    <tr class="action">
        <td>
            &nbsp;
        </td>
        <td>
            <button type="submit">
                <img src="/images/icons/filter.gif" />Pesquisar
            </button>
        </td>
    </tr>
</table>
<% end %>