<div id="tabs">
  <ul>
    <li id="secao01" class="active">Pedidos Feitos</li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>

<div id="form_pesquisa">
	<%=render :partial => "form_pesquisa" %>
</div>

<div id="resultado_pesquisa"><%=render :partial => "resultado_pesquisa" if defined?(@pedidos)%></div>

</div>