<%=select :anuncio_veiculo, :marca_id, marcas, {},{:onchange => remote_function(:url => {:action => :buscar_modelos},:with => "'anuncio_veiculo[marca_id]='+this.value")} %>
<%=error_message_on :anuncio_veiculo, :marca_id%>