<%= stylesheet_link_tag "conteudo" %>
<%= stylesheet_link_tag "buscas" %>
<img src="/images/titulo_servicos.gif" />
<%=content_tag :p, link_to("Voltar para todos os serviços", {:action => :index}, :class => "texto_cinza")%>
<h1 class="texto_verde_pequeno">Serviço: <%=@tipo_loja.descricao.upcase %></h1>
<br/>
<% if @lojas.size > 0%>
<table class="resultado_busca">
	<tr>
        <th class="texto_verde_pequeno">
            Foto
        </th>
        <th class="texto_verde_pequeno">
            Empresa
        </th>
        <th class="texto_verde_pequeno">
            Endereço
        </th>
        <th class="texto_verde_pequeno">
            Contato
        </th>
        <th>
        </th>
    </tr>
<% @lojas.each do |loja| %>
<tr>
	<td align="center"><%=link_loja(imagem_resultado_busca(loja),loja)%></td>
	<td align="center"><%=link_loja(loja.anunciante.nome,loja)%></td>
	<td align="center"><%=loja.anunciante.endereco_completo%></td>
	<td align="center"><%=loja.anunciante.telefone%><br /><%=loja.anunciante.celular%></td>
	<td align="center"><%=link_loja("Ver estoque",loja)%></td>
</tr>
<% end %>
<tr>
	<td colspan="5" align="center"><%=paginacao @lojas%></td>
</tr>
</table>
<% else%>
<h1 class="texto_cinza_titulo">Nenhuma loja cadastrada</h1>
<% end %>
<br />