<table class="create" width="100%">
<!--[form:opcional]-->
<tr>
  <td width="175">
  	<%=f.label(:tipo_veiculo_ids, "Tipo de Veículo")%>
  </td>
  <td>
    <% TipoVeiculo.all.each { |tipo_veiculo| %>
        <p><%= check_box_tag "opcional[tipo_veiculo_ids][]", tipo_veiculo.id, @opcional.tipo_veiculos.include?(tipo_veiculo) %>
            <%= tipo_veiculo.descricao %></p>
    <% } %>
  </td>
</tr>

<tr>
  <td width="175">
  	<%=f.label(:descricao, "Descrição")%>
  </td>
  <td><%=f.text_field :descricao  %>
    <%= error_message_on :opcional, :descricao %>
  </td>
</tr>
<!--[eoform:tipo_veiculo]-->

<tr class="action">
  <td align="center" colspan="2">
    <%=  montar_botoes_salvar() %>
  </td>
</tr>
</table>