<%if @opcionais.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th width="50">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @opcionais.each do |opcional| %>
        <tr>
            <td align="center">
                <%=opcional.id %>
            </td>
            <td>
                <%=opcional.descricao %>
            </td>
            <td align="center" nowrap="nowrap">
                <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => opcional %>
                <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => opcional}, :with => "Form.serialize('form_pesquisa')" %>
            </td>
        </tr>
        <% end %>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="6" align="center">
				<%= paginacao_ajax @opcionais, {:with => "Form.serialize('form_pesquisa')"} %>
			</td>
		</tr>
	</tfoot>
</table>
<% end %>