<%= stylesheet_link_tag "conteudo" %>
<img src="/images/tit_noticias_interna.jpg" width="201" height="28"><%=render :partial => "html_topico_noticias" %>

<%=content_tag(:h1, @topico_noticia.descricao, :class => "texto_azul_anuncio") if @topico_noticia%>

<% if @noticia_destaque %>
<table>
    <tr>
        <%=imagem_noticia_destaque(@noticia_destaque) %>
        <td valign="top" width="100%" align="left">
            <span class="texto_cinza_titulo"><%=@noticia_destaque.titulo %></span>
            <br/>
            <span class="texto_cinza"><%=@noticia_destaque.created_at.to_s(:br_s) %></span><br />
            <%=@noticia_destaque.entrada %>
            <p class="texto_verde_pequeno_menor">
                <%=link_noticia("Leia mais",@noticia_destaque) %>
            </p>
        </td>
    </tr>
</table>
<% end %>


<% if @noticias.size > 0 %>
<table>
        <tr>
            <td colspan="4">
            	<hr class="linha_separacao" />
            </td>
        </tr>
		<% @noticias.in_groups_of(2,false).each do |noticias_agrupadas| %>
        <tr>
        	<% noticias_agrupadas.each do |noticia| %>
            <td>
                <%=imagem_principal_noticia(noticia)%>
            </td>
            <td width="50%" align="left">
                <span class="texto_cinza_titulo"><%=link_noticia noticia.titulo,noticia %></span>
                <br/>
                <span class="texto_cinza"><%= link_noticia noticia.created_at.to_s(:br),noticia %></span>
            </td>
			<% end %>
        </tr>
		<% end %>
	<tr>
		<td colspan="4" align="center"><%=paginacao @noticias %></td>
	</tr>
</table>
<% else %>
<h1 class="texto_cinza_titulo">Nenhuma notícia cadastrada</h1>
<% end %>
