@charset "utf-8";
/* CSS Document */

div#conteudo table
{
	width:100%;
	border:0px;
	border-collapse:collapse;
	margin:0;
	padding:0;
	
}


div#conteudo td
{
	height:18px;
}


div#conteudo table.formulario td.label
{
	padding-right:10px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
}

div#conteudo table.formulario input,div#conteudo table.formulario select,div#conteudo table.formulario textarea
{
	border:1px solid #CCC;
}

div#conteudo table.formulario td
{
}
div#conteudo table.formulario input,div#conteudo table.formulario select
{
	width:150px;
}

div#conteudo table td.coluna_esquerda
{
}

div#conteudo table td.label_direita
{
	width:100px;
}

.campo_arquivo
{
	width:200px !important;
}

.radiobutton, .input
{
	width:auto !important;
        height:auto !important;
	border:none !important;
}

div#conteudo table.resultado td, th
{
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: center;
}

div#conteudo table.resultado td#foto
{
    width: 80px;
    height: 65px;
}

div#conteudo table.formulario select.preco
{
	width: auto !important;
}

input#btn
{
    width:auto !important;
    border: 0 !important;
}