/* Layout personalizado */
html {
    background-color: #ccc;
    overflow: -moz-scrollbars-vertical;
}
body {
    background-color: #fff;
    border: 1px solid #999;
    padding: 10px;
    width: 770px;
    margin: 10px auto;
    font: normal 11px Arial, Verdana;
}
div#topo ul, div#rodape ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
div#topo ul li, div#rodape ul li {
    list-style: none;
    display: inline;
    padding: 2px 10px;
    margin: 0;
}
div#topo ul li a, div#rodape ul li a {
    color: #33f;
    text-decoration: none;
}
div.listarcanal ul li.ativo {
    background-color: #ccc;
    border: 1px solid #666;
}