<div id="busca_veiculos_acessorios">
    <div id="topo_fundo_busca">
    </div>
    <% form_tag({:controller => :veiculos, :action => :pesquisar},{:id => "form_busca_lateral_veiculos"}) do -%>
    <div id="busca_veiculos">
      <h1>Busca de Veículos </h1>
	  	<% cache(CACHE_SITE_BUSCA_TIPO_VEICULO) do %>
        <p>
            Tipo<%=select :busca_anuncio_veiculo, :tipo_veiculo_id, busca_tipo_veiculos,{},
            :onchange => remote_function(:url => {:controller => :home, :action => :buscar_marcas}, :with => "Form.serialize('form_busca_lateral_veiculos')") %>
        </p>
		<% end %>
        <p>
            Marca<span id="div_busca_anuncio_veiculo_marca"><%=render :partial => "home/busca_anuncio_veiculo_marca" %></span>
        </p>
        <p>
            Modelo<span id="div_busca_anuncio_veiculo_modelo"><%=render :partial => "home/busca_anuncio_veiculo_modelo" %></span>
        </p>
        <p>
            Faixa de Preço
            <br/>
            <%=select :busca_anuncio_veiculo, :faixa_preco_inicial, busca_faixas_precos_veiculos, {}, :class => "preco" %>
            a <%=select :busca_anuncio_veiculo, :faixa_preco_final, busca_faixas_precos_veiculos_final, {}, :class => "preco" %>
        </p>
        <p class="botao">
            <%=image_submit_tag "btn_buscar.jpg" %>
        </p>
    </div>
    <% end %>
    <div class="separador">
    </div>
    <% form_tag({:controller => :acessorios, :action => :pesquisar},{:id => "form_busca_lateral_acessorios"}) do -%>
    <div id="busca_acessorios">
      <h1>Busca de Acessórios </h1>
	  	<% cache(CACHE_SITE_BUSCA_TIPO_ACESSORIO) do %>
        <p>
            Tipo<%=select :busca_anuncio_acessorio, :tipo_acessorio_id, busca_tipo_acessorios %>
        </p>
		<% end %>
        <p>
            Faixa de Preço
            <br/>
            <%=select :busca_anuncio_acessorio, :faixa_preco_inicial, busca_faixas_precos_acessorios, {}, :class => "preco" %>
            a <%=select :busca_anuncio_acessorio, :faixa_preco_final, busca_faixas_precos_acessorios_final, {}, :class => "preco" %>
        </p>
        <p class="botao">
            <%=image_submit_tag "btn_buscar.jpg" %>
        </p>
    </div>
    <% end %>
    <div id="base_fundo_busca_veiculos">
    </div>
</div>
<div id="busca_lojas">
	<% cache(CACHE_SITE_BUSCA_LOJAS) do %>
    <% form_tag({:controller => :lojas, :action => :estoque},{:id => "form_busca_lateral_lojas", :method => :get, :onsubmit => "return verifica_busca_loja($('form_busca_lateral_lojas')['id']);"}) do -%>
    <h1>Busca por Lojas</h1>
    <p>
        <%=select_tag :id, options_for_select(busca_lojas) %>
    </p>
    <p class="botao">
        <%=image_submit_tag "btn_buscar_verde.jpg" %>
    </p>
    <% end %>
	<% end %>
</div>
<div id="area_cliente"><%=image_tag "topo_fundo_araea cliente.jpg" -%><%=link_to image_tag("txt_cliente.jpg"), :controller => :painel_anunciante -%><%=image_tag "base_fundo_areacliente.jpg" -%></div>
<div id="cadastre_se">
    <%=image_tag "topo_fundo_cadastre.jpg" %><%=link_to image_tag("txt_cadastro.jpg"), :controller => :cadastro %><%=image_tag "base_fundo_cadastre.jpg" %>
</div>
