<% parametros = {} unless defined? parametros%>
<%= link_to_remote(image_tag('navegation/first.gif', :alt => "Ir para a primeira", :title => "Ir para a primeira"), {:url => primeira_pagina(paginator,parametros), :with => "Form.serialize(document.forms[0])"}) if paginator.current.previous %>
<%= link_to_remote(image_tag('navegation/previous.gif', :alt => "Ir para a anterior", :title => "Ir para a anterior"), {:url => pagina_anterior(paginator,parametros), :with => "Form.serialize(document.forms[0])"}) if paginator.current.previous %>
<%= pagination_links_remote(paginator, {:window_size => 2}, {:url => action_paginacao(parametros), :with => "Form.serialize(document.forms[0])"}) %>
<%= link_to_remote(image_tag('navegation/next.gif', :alt => "Ir para a próxima", :title => "Ir para a próxima"), {:url => proxima_pagina(paginator,parametros), :with => "Form.serialize(document.forms[0])"}) if paginator.current.next %>
<%= link_to_remote(image_tag('navegation/last.gif', :alt => "Ir para a última", :title => "Ir para a última"), {:url => ultima_pagina(paginator,parametros), :with => "Form.serialize(document.forms[0])"}) if paginator.current.next %>