<%=select :busca_anuncio_veiculo, :marca_id, marcas, {},{:onchange => remote_function(:url => {:action => :buscar_modelos},:with => "'busca_anuncio_veiculo[marca_id]='+this.value")} %>
<%=error_message_on :busca_anuncio_veiculo, :marca_id%>