<%= stylesheet_link_tag "conteudo" %>

<img src="/images/titulo_busca_anuncios.gif" />

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Busca de Veículos</h1>
<br>

<div id="form_pesquisa">
    <%=render :partial => "form" %>
</div>