<table class="create" width="100%">
<!--[form:noticia]-->
<tr>
  <td width="175">
  	<%=f.label(:topico_noticia_id, "Tópico de Notícias")%>
  </td>
  <td><%=f.select :topico_noticia_id, topicos_noticias  %>
    <%= error_message_on :noticia, :topico_noticia_id %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=f.label(:titulo)%>
  </td>
  <td><%=f.text_field :titulo  %>
    <%= error_message_on :noticia, :titulo %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:autor)%>
  </td>
  <td><%=f.text_field :autor  %>
    <%= error_message_on :noticia, :autor %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:entrada)%>
  </td>
  <td><%=f.text_field :entrada  %>
    <%= error_message_on :noticia, :entrada %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:texto)%>
  </td>
  <td><%=f.text_area :texto, :rows => 5, :style => "width: 100%"  %>
    <%= error_message_on :noticia, :texto %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:ativo,"Ativo?")%>
  </td>
  <td><%=f.check_box :ativo  %>
    <%= error_message_on :noticia, :ativo %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:created_at,"Data de Criação")%>
  </td>
  <td><%=f.datetime_select :created_at  %>
    <%= error_message_on :noticia, :created_at %>
  </td>
</tr>
<!--[eoform:noticia]-->

<tr class="action">
  <td align="center" colspan="2">
    <%=  montar_botoes_salvar() %>
  </td>
</tr>
</table>