<%if @banners.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
    <tr>
        <th>
            Id
        </th>
		<th>
			Arquivo
		</th>
        <th>
            Tipo
        </th>
        <th>
            Status
        </th>
        <th>
            Localização
        </th>
        <th width="50">
            Ações
        </th>
    </tr>
    </tr>
</thead>
<tbody>
    <% @banners.each do |banner| %>
    <tr>
        <td align="center">
            <%=banner.id %>
        </td>
        <td>
            <%= banner.arquivo.url %><br />
            <%= banner.arquivo_swf.url if banner.arquivo_swf_file_name %>
        </td>
        <td>
            <%=Banner::TIPOS[banner.tipo] %>
        </td>
        <td>
          <%= banner.ativo ? "Ativo" : "Inativo" %>
        </td>            
        <td>
          <%= Banner::LOCALIZACOES[banner.localizacao] %>
        </td> 
        <td align="center" nowrap="nowrap">
            <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => banner %>
            <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => banner}, :with => "Form.serialize('form_pesquisa')" %>
        </td>
    </tr>
    <% end %>
</tbody>
<tfoot>
    <tr>
        <td colspan="6" align="center">
            <%= paginacao_ajax @banners, {:with => "Form.serialize('form_pesquisa')"} %>
        </td>
    </tr>
</tfoot>
</table>
<% end %>