<div>
  <p>Nome: <%= @contato.nome %></p>
  <p>Email: <%= @contato.email %></p>  
  <p>Mensagem: <%= @contato.mensagem %></p>  
  <% unless @contato.pais_id.nil? %>
    <p>Pais: <%= @contato.pais.nome %></p>  
  <% end %>

  <% unless @contato.estado_id.nil? %>
    <p>Estado: <%= @contato.estado.nome %></p>  
  <% end %>

  <% unless @contato.cidade_id.nil? %>
    <p>Cidade: <%= @contato.cidade.nome %></p>  
  <% end %>  
</div>
