<div>
  <p>Nome: <%= @envio_proposta.nome %></p>
  <p>Email: <%= @envio_proposta.email %></p>  
  <p>Proposta: <%= @envio_proposta.proposta %></p>  
  <p>Telefone: <%= @envio_proposta.telefone %></p>  
  <p>Cidade/UF: <%= @envio_proposta.localizacao %></p>  
</div>
