<%= stylesheet_link_tag "conteudo" %>

<img src="/images/titulo_busca_anuncios.gif" />

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Busca de Acessórios</h1>
<br />


<div id="resultado_pesquisa"><%=render :partial => "resultado_pesquisa" %></div>