<%= stylesheet_link_tag "conteudo" %>
<%= stylesheet_link_tag "veiculos" %>
<h1 class="texto_azul_anuncio"><%=@anuncio.anuncio_acessorio.tipo_acessorio.descricao %></h1>
<table>
    <tr>
        <td width="314" align="center">
            <%=imagem_principal(@anuncio) %>
        </td>
        <td valign="top">
            <p class="texto_cinza">
                <%=@anuncio.descricao %>
                <br/>
                <span class="texto_cinza_bold">Valor: </span>
                <%=valor_publico(@anuncio.anuncio_acessorio.valor) %>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <%=imagens(@anuncio) %>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr class="linha_separacao" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <span class="texto_verde_pequeno">Anunciante</span>
            <br/>
            <br/>
            <span class="texto_cinza"><span class="texto_cinza_bold">Nome: </span><%=@anuncio.anunciante.nome %>
                <br>
                <span class="texto_cinza_bold">Cidade: </span><%=@anuncio.anunciante.cidade.nome %>
                <br>
                <span class="texto_cinza_bold">Telefone: </span><%=@anuncio.anunciante.telefone %>
                <br>
                <span class="texto_cinza_bold">Email: </span><%=@anuncio.anunciante.email_secundario %>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr class="linha_separacao" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <span class="texto_verde_pequeno">Contato</span>
            <br/>
            <br/>
			<div id="form_envio_proposta"><%=render :partial => "form_envio_proposta" %></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr class="linha_separacao" />
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <ul class="lista_acoes">
                <li>
                    <%=link_to_function image_tag("btn_imprimir.jpg"), "javascript:window.print();" %>
                </li>
                <% if @anuncio.anunciante.loja? %>
                <li>
                    <%=link_to image_tag("btn_estoque.jpg"), :controller => :lojas, :id => @anuncio.anunciante.loja, :action => :estoque %>
                </li>
                <li>
                    <%=link_to image_tag("btn_site_anunciante.jpg"), @anuncio.anunciante.loja.site, :target => "_blank" %>
                </li>
                <li>
                    <%=link_to image_tag("btn_localizacao.jpg"), @anuncio.anunciante.loja.mapa, :target => "_blank" %>
                </li>
                <% end %>
                <li>
                    <%=image_tag "btn_fazer_pedido.jpg" %>
                </li>
            </ul>
        </td>
    </tr>
</table>
