<%= stylesheet_link_tag "conteudo" %>

<img src="/images/tit_cadastro_anuncios.jpg" width="201" height="28">

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Anunciar Acessório</h1>  
<br />

<% form_for @anuncio, :url => {:action => :criar}, :html => {:id => "formulario", :name => "formulario", :multipart => true} do |f| -%>

  <table class="formulario">
    <tr>
      <td width="50%" class="texto_cinza_titulo">Planos</td>
      <td class="texto_cinza_titulo">Descrição</td>
    </tr>
    <tr>
      <td>
        <% planos.each do |plano| %>
          <span class="texto_cinza"><%=f.radio_button :plano_id, plano.id, :class => "radiobutton" %><strong><%=valor_plano(plano.valor)%></strong> <%=plano.descricao%> - <%=plano.vigencia%> dias de duração</span><br />
        <% end %>
        <%=f.error_message_on :plano_id%>
      </td>
      <td>
        <%=f.text_area :descricao, :size => "46x2" %>
        <%=f.error_message_on :descricao%>
      </td>
    </tr>
  </table>

  <p>&nbsp;</p>

  <table class="formulario">
    <tr>
      <td class="texto_cinza label" width="15%">
        Tipo Acessório
      </td>
      <td  width="35%">
        <%=select :anuncio_acessorio, :tipo_acessorio_id, tipo_acessorios, {}, :onchange => "$('anuncio_acesso_tipo_acessorio_outro').value=''" %>
        <%= f.error_message_on :tipo_acessorio_id %>
      </td>
      <td class="texto_cinza label"  width="15%">
        Valor
      </td>
      <td>
        <%=text_field :anuncio_acessorio, :valor%>
        <%=error_message_on :anuncio_acessorio, :valor%>
      </td>
    </tr>
    <tr>
      <td class="texto_cinza label" width="15%">
        Outro:
      </td>
      <td  colspan="3">
        <%=text_field :anuncio_acessorio, :tipo_acessorio_outro %>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table class="formulario">
    <tr>
      <td colspan="4" class="texto_cinza_titulo">
        <br>Fotos<br>
      </td>
    </tr>    
    <% 0.upto(1) do %>
      <tr>
        <% 0.upto(1) do %>
          <td width="50%" align="center">
            <%=file_field_tag "imagens[]", :class => "campo_arquivo" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%=content_tag :p, image_submit_tag("btn_cadastrar.jpg"), :align => "center"%>
<% end %>