<table class="create" width="100%">
<!--[form:modelo]-->
<tr>
  <td width="175">
  	<%=f.label(:marca_id, "Marca")%>
  </td>
  <td><%=f.select :marca_id, marcas  %>
    <%= error_message_on :modelo, :marca_id %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=f.label(:descricao, "Descrição")%>
  </td>
  <td><%=f.text_field :descricao  %>
    <%= error_message_on :modelo, :descricao %>
  </td>
</tr>
<!--[eoform:modelo]-->

<tr class="action">
  <td align="center" colspan="2">
    <%=  montar_botoes_salvar() %>
  </td>
</tr>
</table>