﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>InfoCarBrasil - Venda, compra e classificados de carros e acessórios</title>
    
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "frontend" %>
	<%= javascript_include_tag "flash" %>
    <%= javascript_include_tag "agence/domForms" %>
    <%= javascript_include_tag "agence/domDiversos" %>
    <%= javascript_include_tag "agence/formMascaras" %>
	<% if controller.controller_name != "home" %>
    <%= javascript_include_tag "calendar/calendar" %>
    <%= javascript_include_tag "calendar/calendar-setup" %>
    <%= javascript_include_tag "calendar/lang/calendar-en" %>
    <%= javascript_include_tag "calendar/lang/calendar-br" %>
	<%= stylesheet_link_tag "skins/aqua/theme" %>
	<% end %>
	<%= stylesheet_link_tag "frontend_estrutura" %>
    <style type="text/css">
      body {
        behavior: url(/stylesheets/htc/csshover2.htc);
      }
    </style>
  </head>
  <body>
    <div id="divLoading">
      Carregando...
    </div>
    <div id="site">
      <div id="topo">
        <h1 id="logotipo">InforCarMs</h1>
        <div id="banner_topo"><%= banner_topo %></div>
      </div>
      
      <div id="menu"><% cache("cache_menu") do %><%=menu%><% end %></div>
      
      <div id="coluna_buscas">
        <%=render :partial => "shared/buscas"%>
      </div>
      
      <div id="conteudo">
        <%=yield%>
		<div id="div_anuncios_destaques"><%= render :partial => "shared/anuncios_destaques" if params[:controller] != "home"%></div>
      </div>
      
      <div id="publicidade">
        <ul id="banners">
          <% banners_laterais.each do |banner| %>
            <li><div><%= mostrar_arquivo(banner) %></div></li>
          <% end  %>
          <%= (content_tag(:li,content_tag(:div,banner_lateral_padrao))) if banners_laterais.size < 12 %>
        </ul>
      </div>
      
    </div>
    
    <div id="rodape">
      <% cache("cache_menu_rodape") do %><%=render :partial => "shared/rodape"%><% end %>
      <img src="/images/rodape.jpg" width="237" height="49">
    </div>
	<%=javascript_tag "ocultarLoading()"%>
	<%=flash_message_front%>
  </body>
</html>