<% form_remote_tag(:url => {:action => "pesquisar"}, :html => {:id => "form_pesquisa",:name => "form_pesquisa"}) do %>
<table width="100%" class="pesquisa" cellspacing="0">
    <tr>
        <td width="175">
            <%=label :tipo_veiculo,:descricao, "Descrição"%>
        </td>
        <td>
            <%=text_field :tipo_veiculo, :descricao %>
        </td>
    </tr>
    <tr class="action">
        <td>
            &nbsp;
        </td>
        <td>
            <button type="submit">
                <img src="/images/icons/filter.gif" />Pesquisar
            </button>
            <button type="button" onClick="window.location = '<%= url_for :action => :novo %>'">
                <img src="/images/icons/add.gif" />Adicionar
            </button>
        </td>
    </tr>
</table>
<% end %>