<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to "Tipos de Veículos", :action => :index %></li>
	<li id="secao02" class="active">Edição de Tipos de Veículos</li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>


<% form_for @tipo_veiculo, :url => {:action => :atualizar, :id => @tipo_veiculo}, :html => {:id => "create", :name => "create"} do |f| -%>
	<%=render :partial => "form", :locals => {:f => f} %>
<% end %>


</div>